*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 400px;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
h3{
  color: gray;
}
.eslam{
  display: flex;
  align-items: center;
  justify-content: space-between;
}